<section class="ye-intro-block section">
  <div class="ye-intro-inner container">
    <article class="ye-intro-content">
      <div class="ye-intro-head">
        <svg id="mySVG" class="ye-intro-icon" width="38" height="38"><use href="./img/sprite.svg#icon-sun"></use></svg>
        <h1 class="ye-intro-h1">
          Get <span class="ye-intro-accent">Body</span> in <br />shape, Stay healthy
        </h1>
        <img class="ye-intro-thumb" src="./img/hero-image-small-desktop.jpg" srcset="./img/hero-image-small-desktop@2x.jpg 2x" alt="young women doing fitness outdoors together" width="765" height="509" />
      </div>
      <p class="ye-intro-desc">
        Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.
      </p>
      <figure class="ye-intro-fig">
        <picture>
          <source media="(max-width: 767px)" srcset="./img/hero-image-mobile.jpg 1x, ./img/hero-image-mobile@2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1439px)" srcset="./img/hero-image-tablet.jpg 1x, ./img/hero-image-tablet@2x.jpg 2x" />
          <source media="(min-width: 1440px)" srcset="./img/hero-image-desktop.jpg 1x, ./img/hero-image-desktop@2x.jpg 2x" />
          <img src="./img/hero-image-mobile.jpg" alt="women sportswear working out outdoors" />
        </picture>
      </figure>
      <nav class="ye-intro-tags" aria-label="Related hashtags">
        <a class="ye-tag" href="https://www.google.com/search?q=%23Sport" target="_blank">#Sport</a>
        <a class="ye-tag" href="https://www.google.com/search?q=%23Healthy" target="_blank">#Healthy</a>
        <a class="ye-tag" href="https://www.google.com/search?q=%23Workout" target="_blank">#Workout</a>
        <a class="ye-tag" href="https://www.google.com/search?q=%23Diet" target="_blank">#Diet</a>
      </nav>
    </article>
  </div>
</section>
